.icon {
    width: 1.5em;
    height: 1.5em;
    display: flex;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform-origin: center;
    transition: transform 0.2s;

    @each $align in 0,
    90,
    180,
    270 {
        &.rotate--#{$align} {
            transform: rotate(#{$align}deg),
        }
    }
}