@import '../typography_styles.scss';

h1,
h2,
h3 {
    &.text {
        font-weight: bold;
        color: RGB(var(--color--black--4));
    }
}

.text {
    margin: 0;
    color: rgb(var(--text--color--first));
    text-align: left;
    font-size: getTextSize(3);
}

.text {
    @include text_props;
}