h1,
h2,
h3 {
    &.text {
        font-weight: bold;
        color: RGB(var(--color--black--4));
    }
}

.text {
    color: rgb(var(--text--color--first));
    text-align: left;
    font-size: getTextSize(3);
    font-family: var(--font-family--main);
}

.text {

    //------------------------------SIZE--------------------------------------
    @for $i from 1 through 10 {
        &.text--size--#{$i} {
            font-size: var(--text--size#{$i});
        }
    }

    //----------------------------ALIGN--------------------------------------
    @each $align in left,
    center,
    right,
    justify {
        &.text--align--#{$align} {
            text-align: $align;
        }
    }

    //----------------------------WEIGHT--------------------------------------
    &.text--regular {
        font-weight: 400;
    }

    &.text--medium {
        font-weight: 500;
    }

    &.text--bold {
        font-weight: 700;
    }


    //----------------------------DECORATION--------------------------------------
    &.text--underline {
        text-decoration: underline;
    }

    //----------------------------DISABLED--------------------------------------
    &.text--disabled {
        user-select: none;
    }

    //------------------------------ELLIPSIS---------------------------------------
    &.text--ellipsis {
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    //-----------------------------COLOR--------------------------------------
    @each $color in danger,
    first,
    second,
    third,
    fourth,
    fifth,
    sixth,
    seventh,
    eighth,
    white {
        &.text--color--#{"" + $color} {
            color: var(--text--color--#{$color});
        }
    }
}

// .text {
// .icon {
//     margin: 0.3em 0.5em -0.5em 0.5em;
//     width: 1.8em;
//     height: 1.8em;
// }
// }