@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    //--------------------------------ScreenSizes--------------------------------
    --size--tablet: 480px;
    --size--laptop: 768px;
    --size--desktop: 1024px;
    --size--tv: 1440px;
    --size--4k: 2500px;

    //--------------------------------ZIndexes--------------------------------
    --index--combobox_list: 1000;
    --index--tooltip: 1000;
    --index--loading: 10000;
    --index--message-dialog: 1100;

    //--------------------------------TransitionParams--------------------------------
    --cubic-bezier--1: cubic-bezier(0.175, 0.885, 0.32, 1.75);

    --font-family--main: 'Montserrat';
    --text-size--1: 10px;
    --text-size--2: 12px;
    --text-size--3: 14px;
    --text-size--4: 18px;
    --text-size--5: 16px;
    --text-size--6: 56px;
    --text-size--7: 18px;
    --text-size--8: 20px;
    --text-size--9: 24px;
    --text-size--10: 24px;

    @media screen and (min-width: var(--size--laptop)) {
        --text-size--4: 18px;
        --text-size--5: 20px;
        --text-size--6: 24px;
        --text-size--7: 28px;
        --text-size--8: 24px;
        --text-size--9: 26px;
    }

    @media screen and (min-width: var(--size--4k)) {
        --text-size--1: 12px;
        --text-size--2: 14px;
        --text-size--3: 16px;
        --text-size--4: 18px;
        --text-size--5: 22px;
        --text-size--6: 28px;
        --text-size--7: 34px;
    }

    font-size: var(--text-size--3);
    font-family: var(--font-family--main);
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

* {
    box-sizing: border-box;
    position: relative;

    &:disabled {
        opacity: 0.7;
        pointer-events: none;
        user-select: none;
    }
}

@function hexToRgb($color) {
    @return red($color),
    green($color),
    blue($color);
}

body {
    /*-----------------------------FILTERS-------------------------------*/
    --filter--none: none;
    --filter--green--1: invert(60%) sepia(42%) saturate(4333%) hue-rotate(99deg) brightness(104%) contrast(72%);
    --filter--green--2: invert(74%) sepia(32%) saturate(5911%) hue-rotate(61deg) brightness(102%) contrast(114%);
    --filter--green--3: invert(88%) sepia(6%) saturate(2552%) hue-rotate(60deg) brightness(131%) contrast(110%);
    --filter--green--4: invert(91%) sepia(14%) saturate(1148%) hue-rotate(43deg) brightness(103%) contrast(101%);
    --filter--black--2: invert(22%) sepia(6%) saturate(230%) hue-rotate(227deg) brightness(94%) contrast(85%);
    --filter--gray--1: invert(29%) sepia(6%) saturate(10%) hue-rotate(326deg) brightness(96%) contrast(90%);
    --filter--gray--2: invert(41%) sepia(92%) saturate(0%) hue-rotate(169deg) brightness(89%) contrast(85%);
    --filter--gray--3: invert(70%) sepia(4%) saturate(238%) hue-rotate(211deg) brightness(87%) contrast(91%);
    --filter--gray--4: invert(82%) sepia(6%) saturate(28%) hue-rotate(71deg) brightness(90%) contrast(87%);
    --filter--gray--5: invert(79%) sepia(4%) saturate(220%) hue-rotate(193deg) brightness(100%) contrast(91%);
    --filter--gray--6: invert(95%) sepia(8%) saturate(14%) hue-rotate(201deg) brightness(92%) contrast(90%);
    --filter--white--1: invert(98%) sepia(8%) saturate(16%) hue-rotate(329deg) brightness(104%) contrast(100%);
    --filter--white--2: invert(99%) sepia(45%) saturate(342%) hue-rotate(194deg) brightness(119%) contrast(90%);
    --filter--blue--1: invert(38%) sepia(84%) saturate(1045%) hue-rotate(172deg) brightness(95%) contrast(106%);
    --filter--blue--7: invert(33%) sepia(67%) saturate(3256%) hue-rotate(205deg) brightness(99%) contrast(104%);
    --filter--red--1: invert(24%) sepia(93%) saturate(7097%) hue-rotate(2deg) brightness(102%) contrast(125%);
    --filter--yellow--1: invert(79%) sepia(64%) saturate(2632%) hue-rotate(3deg) brightness(110%) contrast(108%);

    // ----------------------CUSTOM COLORS-------------------
    --color--green--1: #24BD58;
    --color--green--2: #39e600;
    --color--green--1--rgb: #{hexToRgb(#24BE58)};
    --color--green--2--rgb: #{hexToRgb(#39e600)};
    --color--green--3: #CDF8BF;
    --color--green--4: #BBFF94;
    --color--green--5: #6CF33F;
    --color--black--1: #000;
    --color--black--2: #414042;
    --color--black--3: #232323;
    --color--black--4: #333333;
    --color--black--4--rgb: #{hexToRgb(#333333)};
    --color--gray--1: #4D4D4D;
    --color--gray--2: #737373;
    --color--gray--3: #99989D;
    --color--gray--4: #B4B5B4;
    --color--gray--5: #C3C4C9;
    --color--gray--6: #D9D9DA;
    --color--white--1: #FFFFFF;
    --color--white--1--rgb: #{hexToRgb(#FFFFFF)};
    --color--white--2: #F2F2F2;
    --color--white--2--rgb: #{hexToRgb(#F2F2F2)};
    --color--blue--1: #008DDD;
    --color--blue--2: #2D9CDB;
    --color--blue--3: #050561;
    --color--blue--4: #3DB8F3;
    --color--blue--5: #95D3CA;
    --color--blue--6: #EBF4F3;
    --color--blue--7: #0E74FF;
    --color--red--1: #FF0000;
    --color--red--2: #ff4444;
    --color--yellow--1: #FFD600;
    --color--magenta--1: #CC176A;

    /*-----------------------------COMPONENT SETTINGS-------------------------------*/
    --shadow--color: rgba(195, 196, 201, 0.6); //shadow effect
    --app--bg--color: var(--color--white--1--rgb); //background
    --app--bg--color-alter: var(--color--white--2--rgb); //background variant
    --card--shadow: 0px 0px 6px 2px var(--shadow--color);

    /*-----------------------------COMPONENTS COLORS-------------------------------*/
    /*-----------------------------ICON COLORS-------------------------------*/
    --filter--first: var(--filter--green--1);
    --filter--second: var(--filter--green--2);
    --filter--third: var(--filter--green--3);
    --filter--fourth: var(--filter--gray--1);
    --filter--fifth: var(--filter--white--2);
    --filter--sixth: var(--filter--green--4);
    --filter--seventh: var(--filter--gray--2);

    /*-----------------------------TEXT COLORS-------------------------------*/
    --text--color--first: var(--color--gray--1); //text general
    --text--color--second: var(--color--gray--2); //text variant
    --text--color--third: var(--color--black--4); //titles
    --text--color--fourth: var(--color--gray--4);
    --text--color--fifth: var(--color--gray--5);
    --text--color--sixth: var(--color--gray--6);
    --text--color--seventh: var(--color--green--1);
    --text--color--eighth: var(--color--gray--3);
    --text--color--danger: var(--color--red--1);

    /*-----------------------------THEME-------------------------------*/
    --component--color: var(--color--green--1);
    --component--color--active: var(--color--green--2);
    --component--color--inactive: var(--color--gray--3);
    --component--text-color: var(--text--color--first);
    --component--label-color--inactive: var(--color--gray--2);
    --component--option--bg-color--hover: var(--color--green--3);

    /*-----------------------------ICONS-------------------------------*/
    --filter--inactive: var(--filter--gray--3);
    --filter--active: var(--filter--green--1);
}

body.dark {
    /*-----------------------------FILTERS-------------------------------*/
    --filter--gray--2: var(--filter--white--1);

    /*-----------------------------COMPONENT SETTINGS-------------------------------*/
    --shadow--color: rgba(51, 51, 51, 1); //shadow effect
    --card--shadow: 0px 0px 6px 2px var(--shadow--color);
    --app--bg--color: #{hexToRgb(#141414)}; //background
    --app--bg--color-alter: var(--color--black--4--rgb); //background variant

    /*-----------------------------COMPONENTS COLORS-------------------------------*/
    /*-----------------------------TEXT COLORS-------------------------------*/
    --text--color--first: var(--color--white--1); //text general
    --text--color--second: var(--color--gray--5); //text variant
    --text--color--third: var(--color--white--1); //titles
}

.react_icon_container {
    display: grid;
    place-content: center;
    overflow: hidden;
}

.disabled {
    opacity: 0.7;
    pointer-events: none;
    user-select: none;
}

.hidden {
    display: none !important;
}
/*-----------------------------ANIMATIONS-------------------------------*/
.animation--pulse {
    animation-name: pulse;
    // animation-timing-function: cubic-bezier(0.42, 0, 0.07, 1.02);
    animation-timing-function: ease;
    animation-duration: 0.6s;
    transform-origin: center;
}

.animation--shakeC {
    animation-name: shake;
    animation-timing-function: linear;
    animation-duration: 0.6s;
    transform-origin: center;
}

.animation--shakeB {
    animation-name: shake;
    animation-timing-function: linear;
    animation-duration: 0.6s;
    transform-origin: 50% 70%;
}

.animation--upDown {
    animation-name: upDown;
    animation-timing-function: linear;
    animation-duration: 0.6s;
    transform-origin: center;
}

.animation--downUp {
    animation-name: downUp;
    animation-timing-function: linear;
    animation-duration: 0.6s;
    transform-origin: center;
}

.animation--zoomIn {
    animation-name: zoomIn;
    animation-timing-function: cubic-bezier(.87,-1.15,.95,1.25); 
    animation-duration: 0.6s;
}

@keyframes pulse {
    30% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-15deg); }
    75% { transform: rotate(15deg); }
    100% { transform: rotate(0deg); }
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-15deg); }
    75% { transform: rotate(15deg); }
    100% { transform: rotate(0deg); }
}

@keyframes upDown {
    0% { transform: translateY(0%); }
    25% { transform: translateY(-4%); }
    // 50% { transform: translateY(-4%); }
    75% { transform: translateY(4%); }
    100% { transform: translateY(0); }
}

@keyframes downUp {
    0% { transform: translateY(4%); }
    25% { transform: translateY(-4%); }
    50% { transform: translateY(4%); }
    75% { transform: translateY(-4%); }
    100% { transform: translateY(0); }
}

@keyframes zoomIn {
    0% { transform: scale(0.85); }
    80% { transform: scale(1.06); }
    100% { transform: scale(1); }
}