@import '../typography_styles.scss';

.link {
    color: var(--component--color);
    text-align: left;
    font-size: getTextSize(3);
    text-decoration: none;
    cursor: pointer;
    outline: none;

    @include text_props;

    &:hover {
        color: var(--component--color--active);
    }
}